doctype html
html(lang='en')
  head
    include ../common/base_head
  body
    div.pure-g-r
      div.pure-u-1-1.banner
        div.pure-u-3-4.banner-inner
      div.pure-u-1-2.content
        div.bounding-box.rounded
          div.padded
            h3 Create a user
            hr
            form#signup.pure-form.pure-form-aligned(action='/signup' method='post')
              fieldset
                label(for='username') Username
                input(type='text' name='username' placeholder='Username' autofocus=true required=true)
              fieldset
                label(for='firstName') First name
                input(type='text' name='firstName' placeholder='First name' autofocus=true required=true)
              fieldset
                label(for='lastName') Last name
                input(type='text' name='lastName' placeholder='Last name' required=true)
              fieldset
                label(for='email') Email
                input(type='email' name='email' placeholder='Email' required=true)
              fieldset
                label(for='email2') Reenter email
                input(type='email' name='email2' placeholder='Reenter email' required=true)
              fieldset
                label(for='password') Password
                input(type='password' name='password' placeholder='Password' required=true)
              fieldset
                label(for='password2') Reenter password
                input(type='password' name='password2' placeholder='Reenter password' required=true)
              input.pure-button.button-primary(type='submit' value='Submit')
          div#emailmatch
            p Emails do not match
          div#passmatch
            p Passwords do not match
          div#badusername
            p Username is in use
          div#bademail
            p Email address is in use
    script(type='application/javascript' src='/js/signup.js')
