doctype html
html(lang="en")
  head
    include base_head
  body
    include graph
    div.content
      //div#prof-behind
        div(style='height: 250px; width: 600px; background-size: cover; background-position: center')
        br

      div.feed
        center
          form#betForm.pure-form(action='/submitForm/'+playerId method='post')
            input(type='number' name='price' placeholder='Price' autofocus=true required=true style='width: 100px')
            input(type='number' name='shareNumber' placeholder='Number of Shares' required=true style='width: 100px')
            input(id = 'radioFormA' type='radio' name='longOrShort' value='Above' checked='checked')
            | Above
            input(id = 'radioFormB' type='radio' name='longOrShort' value='Under')
            | Under
            input.pure-button.button-primary(type='submit')
      center
        div#prof-pic(style='background-image: url(#{imageUrl})')

      each item in betinfo
        if (item.longPosition===false)
          div.linkcontainer
            div.leftsidehome
              center
                a(href=playerId class = 'bet' id='bet'+item.betId style='cursor: pointer').
                  Take Bet!
            div.rightsidehome
              center
                h5="price: " + item.betValue
                h5="multiplier: " + item.multiplier


        else
          div.linkcontainer
            div.leftsidehome
              center
                h5="price: " + item.betValue
                h5="multiplier: " + item.multiplier
            div.rightsidehome
              center
                a(href=playerId class = 'bet' id='bet'+item.betId style='cursor: pointer').
                  Take Bet!

    script(type='application/javascript' src='/js/takeBets.js')