doctype html
html(lang="en")
  head
    include base_head
  body
    include banner
    div.content(style='width:1080px')
      div.panel(style='height:210px;width:1080px')
        div.left_panel
          h1 #{userInfo.username}'s Profile
          h2 ID: #{userInfo.user_id}
      div#prof-behind
        div#prof-pic(style='background-image: url(#{userInfo.image})')
          div.fileUpload
            div
              span.fui-photo
              span Edit profile photo
            form#prof-upload(enctype='multipart/form-data' action='/upload/image/#{userInfo.username}' method='post')
              input.upload(type='file' name='filefield' onchange='changeAsync()')
      div.bounding-box.rounded(style='width:1080px')
        div.padded
          h3 Profile Information
          table(border='0', cellpadding='5')
            tr
              td(style='width:150px', align='right')
                b Name:
              td #{userInfo.first_name} #{userInfo.last_name}
            tr
              td(style='width:150px', align='right')
                b Money:
              td= userInfo.money
            tr
              td(style='width:150px', align='right')
                b Spending Power:
              td= userInfo.spending_power
            tr
              td(style='width:150px', align='right')
                b User since:
              td= userInfo.verified_time
            tr
              td(style='width:150px', align='right')
                b VIP Status:
              td= userInfo.vip_status

      div#tab-container
        ul.tab-menu
          li#pending-bets.active Pending Bets
          li#current-bets Current Bets
          li#past-bets Past Bets
        div.clear
        div.tab-top-border
        div#pending-bets-tab.tab-content.active
          h1 Pending Bets
          div#bet-container
            each item in pendingBetInfo
              div.padded
                div#indiv-bet-container.rounded
                  table#bet-layout(border='0', cellpadding='5')
                    tbody
                      tr
                        td#bet-player-image-cell(style='width:100px', align='right')
                          div#bet-player-image(style='background-image: url(#{userInfo.image})')
                        td#bet-info-cell
                          div#bet-player-name
                            h1 Bet on #{item.player_id}
                          div#bet-info
                            | Price: #{item.bet_value}
                          div#bet-info
                            | Multiplier: #{item.multiplier}
                          a(href=item.bet_id class = 'bet' id='bet'+item.bet_id style='cursor: pointer')
                            img(src='../deleteButton.png' width='20' height='30')
        div#current-bets-tab.tab-content
          h1 Current Bets
          div#bet-container
            each item in currentBetInfo
              div.padded
                div#indiv-bet-container.rounded
                  table#bet-layout(border='0', cellpadding='5')
                    tbody
                      tr
                        td#bet-player-image-cell(style='width:100px', align='right')
                          div#bet-player-image(style='background-image: url(#{userInfo.image})')
                        td#bet-info-cell
                          div#bet-player-name
                            h1 Bet on #{item.player_id}
                          div#bet-info
                            | Price: #{item.bet_value}
                          div#bet-info
                            | Multiplier: #{item.multiplier}
        div#past-bets-tab.tab-content
          h1 Past Bets
          div#bet-container
            each item in pastBetInfo
              div.padded
                div#indiv-bet-container.rounded
                  table#bet-layout(border='0', cellpadding='5')
                    tbody
                      tr
                        td#bet-player-image-cell(style='width:100px', align='right')
                          div#bet-player-image(style='background-image: url(#{userInfo.image})')
                        td#bet-info-cell
                          div#bet-player-name
                            h1 Bet on #{item.player_id}
                          div#bet-info
                            | Price: #{item.bet_value}
                          div#bet-info
                            | Multiplier: #{item.multiplier}
      script(src='../js/deleteBets.js')
      script(src='../js/jquery-ui-1.10.4.custom.js')
      script(type='application/javascript' src='/js/profile.js')