doctype html
html(lang="en")
  head
    include base_head
  body
    include banner
    div.pure-g-r
      div.pure-u-1-1.banner
        div.pure-u-3-4.banner-inner
          h1
            a(href='/')=title
      div.pure-u-1-2.content(style='width:1080px')
        div.panel(style='height:210px;width:1080px')
          div.left_panel
            h1 #{userInfo.username}'s Profile
            h2 ID: #{userInfo.user_id}
        div#prof-behind
          div#prof-pic(style='background-image: url(#{userInfo.image})')
            div.fileUpload
              div
                span.fui-photo
                span Edit profile photo
              form#prof-upload(enctype='multipart/form-data' action='/upload/image/#{userInfo.username}' method='post')
                input.upload(type='file' name='filefield' onchange='change_async()')
        div.bounding-box.rounded(style='width:1080px')
          div.padded
            h3 Profile Information
            table(border='0', cellpadding='5')
              tr
                td(style='width:150px', align='right')
                  b Name:
                td #{userInfo.first_name} #{userInfo.last_name}
              tr
                td(style='width:150px', align='right')
                  b Money:
                td= userInfo.money
              tr
                td(style='width:150px', align='right')
                  b User since:
                td= userInfo.verified_time
              tr
                td(style='width:150px', align='right')
                  b VIP Status:
                td= userInfo.vip_status
        div.bounding-box.rounded(style='width:1080px')
          div.padded
            h3 Pending Bets
            table(border='0', cellpadding='5')
              tr
                th(style='width:200px', align='center') Bet ID
                th(style='width:200px', align='center') Player ID
              each item in pendingBetInfo
                tr
                  td(style='width:200px', align='right') #{item.bet_id}
                  td(style='width:200px', align='right') #{item.player_id}
        div#tab-container
          ul.tab-menu
            li#pending-bets.active Pending Bets
            li#current-bets Current Bets
            li#past-bets Past Bets
          div.clear
          div.tab-top-border
          div#pending-bets-tab.tab-content.active
            h1 Pending Bets
            each item in pendingBetInfo
              div#betcontainer
                table(border='0', cellpadding='5')
                  tr#bet-row
                    td(style='width:100px', align='right')
                      b Bet ID:
                    td= item.bet_id
                    td(style='width:100px', align='right')
                      b Bet Value:
                    td= item.bet_value
                    td(style='width:100px', align='right')
                      b Multiplier:
                    td= item.multiplier
          div#current-bets-tab.tab-content
            h1 Current Bets
            each item in currentBetInfo
              div#betcontainer
                table(border='0', cellpadding='5')
                  tr#bet-row
                    td(style='width:100px', align='right')
                      b Bet ID:
                    td= item.bet_id
                    td(style='width:100px', align='right')
                      b Bet Value:
                    td= item.bet_value
                    td(style='width:100px', align='right')
                      b Multiplier:
                    td= item.multiplier
          div#past-bets-tab.tab-content
            h1 Past Bets
            each item in pastBetInfo
              div#betcontainer
                table(border='0', cellpadding='5')
                  tr#bet-row
                    td(style='width:100px', align='right')
                      b Bet ID:
                    td= item.bet_id
                    td(style='width:100px', align='right')
                      b Bet Value:
                    td= item.bet_value
                    td(style='width:100px', align='right')
                      b Multiplier:
                    td= item.multiplier

      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
      script(type='application/javascript' src='/js/profile.js')